*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: .875rem;
    background: hsl(30, 38%, 92%);
    color: hsl(228, 12%, 48%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 0 .75rem;
    display: flex;
    align-self: center;
}

.product-card {
    background: hsl(0, 0%, 100%);
    border-radius: 8px;
    max-width: 350px;
    margin: 0 auto;
}

.product-card__images {
    width: 100%;
}

.product-card__images img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    display: block;
}

.product-card__info {
    padding: 2rem;
    width: 100%;
}

.product-card__title {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    line-height: 1;
    margin: 1.5rem 0;
    color: hsl(212, 21%, 14%);
}

.product-card__category {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: .75rem;
    margin: 0
}

.product-card__text {
    line-height: 1.6;
    margin: 0 0 1.5rem 0;
}

.product-card__price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.product-card__price--new {
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    margin: 0 1rem 0 0;
}

.product-card__price--old {
    font-family: 'Montserrat', sans-serif;
    font-size: .8125rem;
    text-decoration: line-through;
}

.product-card__btn {
    margin-top: 24px;
    width: 100%;
    border: none;
    background: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 1.1rem 0;
    border-radius: 8px;
}

.product-card__btn:hover {
    background: hsl(158, 42%, 18%);
}

.product-card__btn--content {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: .5rem;
    align-items: center;
}

.product-card__btn--icon {
    width: 18px;
    height: 18px;
}

@media (min-width: 624px) {
    .product-card {
        max-width: 600px;
        display: flex;
    }

    .product-card__images {
        width: 50%;
    }

    .product-card__images img {
        border-radius: 8px 0 0 8px;
    }

    .product-card__info {
        width: 50%;
    }
}